@import "../../styles/colors.scss";

.container-login{
    height: 90vh;
    display: flex;
    justify-content: center;
    background-color: $color-background;

    .card-body{
        width: 40%;
        margin: auto;
        padding: 3%;
    
        .content-card{  
            margin: auto;
            width: 80%;
    
            .from-inputs{
                border-radius: 15px;
                margin: 5% 0px;
                padding: 2%;
                border: 1px solid $border-card;
            }
        }
    
        .content-buttons{
            margin: auto;
            width: 80%;
    
            .form-button{
                margin: 2%;
                width: 100%;
                padding: 2%;
                color: $color-white;
                background-color: $color-green-login;
                border-radius: 15px;
                border: none;
            }
        }
    }
}

//ipad landscape
@media screen and (max-width: 1024px) {
    .card-body{
        width: 70% !important;

        .from-inputs{
            padding: 3% !important;
        }

        .form-button{
            padding: 3% !important;
        }
    }
}

//ipad
@media screen and (max-width: 800px) {
    .card-body{
        width: 70% !important;

        .from-inputs{
            padding: 3% !important;
        }

        .form-button{
            padding: 3% !important;
        }
    }
}

//phone landscape
@media screen and (max-width: 750px) {
    .card-body{
        width: 50% !important;
        height: 65%;
    }

    .from-inputs{
        padding: 2% !important;
    }

    .form-button{
        padding: 2% !important;
    }
}

//phone
@media screen and (max-width: 600px) {
    .card-body{
        width: 90% !important;
        height: 40%;
    }

    .from-inputs{
        padding: 4% !important;
    }

    .form-button{
        padding: 4% !important;
    }
}



