.card-body{
    width: 40%;
    margin: auto;
    padding: 3%;

    .content-card{  
        margin: auto;
        width: 80%;

        .from-inputs{
            border-radius: 15px;
            margin: 5% 0px;
            padding: 2%;
            border: 1px solid rgb(177, 177, 177);
        }
    }

    .content-buttons{
        margin: auto;
        width: 80%;

        .form-button{
            margin: 2%;
            width: 100%;
            padding: 2%;
            color: #ffff;
            background-color: #198753;
            border-radius: 15px;
            border: none;
        }
    }
}