@import '../../styles/colors.scss';

.container-dash{
    min-height: 100vh;

    .list{
        width: 46%;
        padding: 2%;
    }
}

@media screen and (max-width: 1024px) {
    .content-list-data{
        margin: 3% auto;
    }

    .list{
        width: 100% !important;
    }
}

//ipad
@media screen and (max-width: 800px) {

    .content-list-data{
        margin: 3% auto;
    }

    .list{
        width: 100% !important;
    }
}

//phone landscape
@media screen and (max-width: 750px) {
    .list{
        width: 90% !important;
        padding: 0%;
        margin: auto;
    }
}

//phone
@media screen and (max-width: 600px) {
    .list{
        width: 90% !important;
        padding: 0%;
        margin: auto;
    }
}



