.content-error{
    margin: 4% auto;
    background-color: #f8d7d9;
    border-radius: 15px;
    padding: 1%;
    
    p{
        color: #842029;
        font-size: 13px;
        margin-left:4%;
    }
}