@import '../../styles/colors.scss';

.success{
    background-color: $background-success;
    padding: 0.5%;
    border-radius: 30px;
    color: $text-success;

    p{
        padding-left: 3%;
    }
}