
$color-background: #206f7e;
$color-white: #ffff;
$color-green-login: #198753;
$border-card:rgb(177, 177, 177);
$color-text-nav:#58bbce;
$text-error: #842029;
$background-error: #f8d7d9;
$background-modal: rgba(0, 0, 0, 0.438);
$background-error-button: rgb(218, 42, 42);