@import '../../styles/colors.scss';

.content-list-data{
    width: 100%;
    margin: auto;
    padding: 1% 0;

    .title-card{
        text-align: center;

        div{
            width: 90%;
            justify-content: center;
            h2{
                font-size: 25px;
            }
        }

    }

    .body-card{

        ul{
            list-style: none;
            padding: 0;
        }

        .content-row{
            width: 90%;
            margin: auto;
            border-top: solid 1px black;
            padding: 0 2%;

            li{
                width: 90%;
                justify-content: space-around;
                cursor: pointer;
                padding: 2% 0;
                margin: auto;
                text-align: center;
                p{
                    margin: 0px;
                    width: 25%;
                }
            }
        }

        .id{
            width: 5% !important;
        }

        .email{
            width: 40% !important;
            text-align: center;
        
        }
        
    }
}




//phone landscape
@media screen and (max-width: 750px) {
    .content-list-data{
        margin: 3% auto;
    }
}

//phone
@media screen and (max-width: 600px) {
    .content-list-data{
        margin: 3% auto;
    }
    .email{
        overflow-y: scroll;
    }
}
