.content-list-data{
    width: 100%;
    margin: auto;
    padding: 1% 0;

    .title-card{
        text-align: center;

        h2{
            font-size: 25px;
        }
    }

    .body-card{

        ul{
            list-style: none;
            padding: 0;
        }

        .content-row{
            width: 90%;
            margin: auto;
            border-top: solid 1px black;
            padding: 0 2%;
            li{
                width: 80%;
                justify-content: space-around;
                cursor: pointer;
                padding: 2% 0;
                margin: auto;
    
                p{
                    margin: 0px;
                }
            }

            p{
                cursor: pointer;
            }
        }
        


    }
}